
<table>
<tr>
<td><center><h1>Introduction to Python for Data Science</h1></center></td>
</tr>
</table>


<br/><br/>
<center><a style="font-size: 40pt; font-weight: bold">The Basics </a></center>
<br/><br/>

# 1- Numbers and Variables


## Variables

In [ ]:
2 + 2 + 1 # comment

5

In [ ]:
a = 4
print(a)
print(type(a))

4
<class 'int'>

In [ ]:
a,x = 4, 9000
print(a)
print(x)

4
9000

Variables names can contain `a-z`, `A-Z`, `0-9` and some special character as `_` but must always begin by a letter. By convention, variables names are smallcase.


## Types

Variables are *weakly typed* in python which means that their type is deduced from the context: the initialization or the types of the variables used for its computation. Observe the following example.

In [ ]:
print("Integer")
a = 3
print(a,type(a))

print("Float")
b = 3.14
print(b,type(b))

Integer
3 <class 'int'>
Float
3.14 <class 'float'>

## Operation on numbers

The usual operations are
* Multiplication and Division with respecively `*` and `/`
* Exponent with `**`
* Modulo with `%`

In [ ]:
print(7 * 3., type(7 * 3.))  # int x float -> float

21.0 <class 'float'>

In [ ]:
print(3/2, type(3/2))  # Warning: int in Python 2,  float in Python 3
print(3/2., type(3/2.)) # To be sure

1.5 <class 'float'>
1.5 <class 'float'>

In [ ]:
print(2**10, type(2**10))

1024 <class 'int'>

In [ ]:
print(8%2, type(8%2))

0 <class 'int'>

## Booleans

Boolean is the type of a variable `True` or `False` and thus are extremely useful when coding.
* They can be obtained by comparisons  `>`, `>=` (greater, greater or égal), `<`, `<=` (smaller, smaller or equal) or membership `==` , `!=` (equality, different).
* They can be manipulated by the logical operations `and`, `not`, `or`.

In [ ]:
print('2 > 1\t', 2 > 1)
print('2 > 2\t', 2 > 2)
print('2 >= 2\t',2 >= 2)
print('2 == 2\t',2 == 2)
print('2 == 2.0',2 == 2.0)
print('2 != 1.9',2 != 1.9)

2 > 1	 True
2 > 2	 False
2 >= 2	 True
2 == 2	 True
2 == 2.0 True
2 != 1.9 True

In [ ]:
print(True and False)
print(True or True)
print(not False)

False
True
True

## Lists

Lists are the base element for sequences of variables in python, they are themselves a variable type.
* The syntax to write them is `[ ... , ... ]`
* The types of the elements may not be all the same
* The indices begin at $0$ (`l[0]` is the first element of `l`)
* Lists can be nested (lists of lists of ...)


*Warning:* Another type called *tuple* with the syntax `( ... , ... )` exists in Python. It has almost the same structure than list to the notable exceptions that one cannot add or remove elements from a tuple. We will see them briefly later

In [ ]:
l = [1, 2, 3, [4,8] , True , 2.3]
print(l, type(l))

[1, 2, 3, [4, 8], True, 2.3] <class 'list'>

In [ ]:
print(l[0],type(l[0]))
print(l[3],type(l[3]))
print(l[3][1],type(l[3][1]))

1 <class 'int'>
[4, 8] <class 'list'>
8 <class 'int'>

In [ ]:
print(l)
print(l[4:]) # l[4:] is l from the position 4 (included)
print(l[:5]) # l[:5] is l up to position 5 (excluded)
print(l[4:5]) # l[4:5] is l between 4 (included) and 5 (excluded) so just 4
print(l[1:6:2])  # l[1:6:2] is l between 1 (included) and 6 (excluded) by steps of 2 thus 1,3,5
print(l[::-1]) # reversed order
print(l[-1]) # last element

[1, 2, 3, [4, 8], True, 2.3]
[True, 2.3]
[1, 2, 3, [4, 8], True]
[True]
[2, [4, 8], 2.3]
[2.3, True, [4, 8], 3, 2, 1]
2.3

### Operations on lists

One can add, insert, remove, count, or test if a element is in a list easily

In [ ]:
l.append(10)   # Add an element to l (the list is not copied, it is actually l that is modified)
print(l)

[1, 2, 3, [4, 8], True, 2.3, 10]

In [ ]:
l.insert(1,'u')   # Insert an element at position 1 in l (the list is not copied, it is actually l that is modified)
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3, 10]

In [ ]:
l.remove(10) # Remove the first element 10 of l
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3]

In [ ]:
print(len(l)) # length of a list
print(2 in l)  # test if 2 is in l

7
True

### Handling lists

Lists are *pointer*-like types. Meaning that if you write `l2=l`, you *do not copy* `l` to `l2` but rather copy the pointer so modifying one, will modify the other.

The proper way to copy list is to use the dedicated `copy` method for list variables.

In [ ]:
l2 = l
l.append('Something')
print(l,l2)

[1, 'u', 2, 3, [4, 8], True, 2.3, 'Something'] [1, 'u', 2, 3, [4, 8], True, 2.3, 'Something']

In [ ]:
l3 = list(l) # l.copy() works in Python 3
l.remove('Something')
print(l,l3)

[1, 'u', 2, 3, [4, 8], True, 2.3] [1, 'u', 2, 3, [4, 8], True, 2.3, 'Something']

You can have void lists and concatenate list by simply using the + operator, or even repeat them with * .

In [ ]:
l4 = []
l5 =[4,8,10.9865]
print(l+l4+l5)
print(l5*3)

[1, 'u', 2, 3, [4, 8], True, 2.3, 4, 8, 10.9865]
[4, 8, 10.9865, 4, 8, 10.9865, 4, 8, 10.9865]

## Tuples, Dictionaries [*]


* Tuples are similar to list but are created with `(...,...)` or simply comas. They cannot be changed once created.

In [ ]:
t = (1,'b',876876.908)
print(t,type(t))
print(t[0])

(1, 'b', 876876.908) <class 'tuple'>
1

In [ ]:
a,b = 12,[987,98987]
u = a,b
print(a,b,u)

12 [987, 98987] (12, [987, 98987])

In [ ]:
try:
    u[1] = 2
except Exception as error:
    print(error)

'tuple' object does not support item assignment

* Dictionaries are aimed at storing values of the form *key-value* with the syntax `{key1 : value1, ...}`

This type is often used as a return type in librairies.

In [ ]:
d = {"param1" : 1.0, "param2" : True, "param3" : "red"}
print(d,type(d))

{'param1': 1.0, 'param2': True, 'param3': 'red'} <class 'dict'>

In [ ]:
print(d["param1"])
d["param1"] = 2.4
print(d)

1.0
{'param1': 2.4, 'param2': True, 'param3': 'red'}

## Strings and text formatting


* Strings are delimited with (double) quotes. They can be handled globally the same way as lists (see above).
* <tt>print</tt> displays (tuples of) variables (not necessarily strings).
* To include variable into string, it is preferable to use the <tt>format</tt> method.

*Warning:* text formatting and notably the `print` method is one of the major differences between Python 2 and Python 3. The method presented here is clean and works in both versions.

In [ ]:
s = "test"
print(s,type(s))

test <class 'str'>

In [ ]:
print(s[0])
print(s + "42")

t
test42

In [ ]:
print(s,42)
print(s+"42")

test 42
test42

In [ ]:
try:
    print(s+42)
except Exception as error:
    print(error)

can only concatenate str (not "int") to str

The `format` method

In [ ]:
print( "test {}".format(42) )

test 42

In [ ]:
print( "test with an int {:d}, a float {} (or {:e} which is roughly {:.1f})".format(4 , 3.141 , 3.141 , 3.141 ))

test with an int 4, a float 3.141 (or 3.141000e+00 which is roughly 3.1)

# 2- Branching and Loops


## If, Elif, Else

In Python, the formulation for branching is the  `if:` condition (mind the `:`) followed by an indentation of *one tab* that represents what is executed if the condition is true. **The indentation is primordial and at the core of Python.**

In [ ]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [ ]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [ ]:
if statement1:
    if statement2: # Bad indentation!
    #print("both statement1 and statement2 are True") # Uncommenting Would cause an error
        print("here it is ok")
    print("after the previous line, here also")

here it is ok
after the previous line, here also

In [ ]:
statement1 = True

if statement1:
    print("printed if statement1 is True")



    print("still inside the if block")

printed if statement1 is True
still inside the if block

In [ ]:
statement1 = False

if statement1:
    print("printed if statement1 is True")

print("outside the if block")

outside the if block

## For loop

The syntax of `for` loops is `for x in something:` followed by an indentation of one tab which represents what will be executed.

The `something` above can be of different nature: list, dictionary, etc.

In [ ]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [ ]:
sentence = ""
for word in ["Python", "for", "data", "Science"]:
    sentence = sentence + word + " "
print(sentence)

Python for data Science

A useful function is <tt>range</tt> which generated sequences of numbers that can be used in loops.

In [ ]:
print("Range (from 0) to 4 (excluded) ")
for x in range(4):
    print(x)

print("Range from 2 (included) to 6 (excluded) ")
for x in range(2,6):
    print(x)

print("Range from 1 (included) to 12 (excluded) by steps of 3 ")
for x in range(1,12,3):
    print(x)

Range (from 0) to 4 (excluded)
0
1
2
3
Range from 2 (included) to 6 (excluded)
2
3
4
5
Range from 1 (included) to 12 (excluded) by steps of 3
1
4
7
10

If the index is needed along with the value, the function `enumerate` is useful.

In [ ]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

## While loop

Similarly to `for` loops, the syntax is`while condition:` followed by an indentation of one tab which represents what will be executed.

In [ ]:
i = 0

while i<5:
    print(i)
    i+=1

0
1
2
3
4

## Try [*]

When a command may fail, you can `try` to execute it and optionally catch the `Exception` (i.e. the error).

In [ ]:
a = [1,2,3]
print(a)

try:
    a[1] = 3
    print("command ok")
except Exception as error:
    print(error)

print(a) # The command went through

try:
    a[6] = 3
    print("command ok")
except Exception as error:
    print(error)

print(a) # The command failed

[1, 2, 3]
command ok
[1, 3, 3]
list assignment index out of range
[1, 3, 3]

# 3- Functions


In Python, a function is defined as  `def function_name(function_arguments):` followed by an indentation representing what is inside the function. (No return arguments are provided a priori)

In [ ]:
def fun0():
    print("\"fun0\" just prints")

fun0()

"fun0" just prints

Docstring can be added to document the function, which will appear when calling `help`

In [ ]:
def fun1(l):
    """
    Prints a list and its length
    """
    print(l, " is of length ", len(l))

fun1([1,'iuoiu',True])

[1, 'iuoiu', True]  is of length  3

In [ ]:
help(fun1)

Help on function fun1 in module __main__:

fun1(l)
    Prints a list and its length

## Outputs

`return` outputs a variable, tuple, dictionary, ...

In [ ]:
def square(x):
    """
    Return x squared.
    """
    return(x ** 2)

help(square)
res = square(12)
print(res)

Help on function square in module __main__:

square(x)
    Return x squared.

144

In [ ]:
def powers(x):
    """
    Return the first powers of x.
    """
    return(x ** 2, x ** 3, x ** 4)

help(powers)

Help on function powers in module __main__:

powers(x)
    Return the first powers of x.

In [ ]:
res = powers(12)
print(res, type(res))

(144, 1728, 20736) <class 'tuple'>

In [ ]:
two,three,four = powers(3)
print(three,type(three))

27 <class 'int'>

In [ ]:
def powers_dict(x):
    """
    Return the first powers of x as a dictionary.
    """
    return{"two": x ** 2, "three": x ** 3,  "four": x ** 4}


res = powers_dict(12)
print(res, type(res))
print(res["two"],type(res["two"]))

{'two': 144, 'three': 1728, 'four': 20736} <class 'dict'>
144 <class 'int'>

## Arguments

It is possible to
* Give the arguments in any order provided that you write the corresponding argument variable name
* Set defaults values to variables so that they become optional

In [ ]:
def fancy_power(x, p=2, debug=False):
    """
    Here is a fancy version of power that computes the square of the argument or other powers if p is set
    """
    if debug:
        print( "\"fancy_power\" is called with x =", x, " and p =", p)
    return(x**p)

In [ ]:
print(fancy_power(5))
print(fancy_power(5,p=3))

25
125

In [ ]:
res = fancy_power(p=8,x=2,debug=True)
print(res)

"fancy_power" is called with x = 2  and p = 8
256

# 4- Classes [*]


Classes are at the core of *object-oriented* programming, they are used to represent an object with related *attribues* (variables) and *methods* (functions).

They are defined as functions but with the keyword class `class my_class(object):` followed by an indentation. The definition of a class usually contains some methods:
* The first argument of a method must be `self` in auto-reference.
* Some method names have a specific meaning:
   * `__init__`: method executed at the creation of the object
   * `__str__` : method executed to represent the object as a string for instance when the object is passed ot the function `print`

In [ ]:
class Point(object):
    """
    Class of a point in the 2D plane.
    """
    def __init__(self, x=0.0, y=0.0):
        """
        Creation of a new point at position (x, y).
        """
        self.x = x
        self.y = y

    def translate(self, dx, dy):
        """
        Translate the point by (dx , dy).
        """
        self.x += dx
        self.y += dy

    def __str__(self):
        return("Point: ({:.2f}, {:.2f})".format(self.x, self.y))

In [ ]:
p1 = Point()
print(p1)

p1.translate(3,2)
print(p1)

p2 = Point(1.2,3)
print(p2)

Point: (0.00, 0.00)
Point: (3.00, 2.00)
Point: (1.20, 3.00)

# 5- Reading and writing files



`open` returns a file object, and is most commonly used with two arguments: `open(filename, mode)`.

The first argument is a string containing the filename. The second argument is another string containing a few characters describing the way in which the file will be used (optional, 'r' will be assumed if it’s omitted.):
* 'r' when the file will only be read
* 'w' for only writing (an existing file with the same name will be erased)
* 'a' opens the file for appending; any data written to the file is automatically added to the end

In [ ]:
f = open('test.txt', 'w')
print(f)

<_io.TextIOWrapper name='test.txt' mode='w' encoding='UTF-8'>

`f.write(string)` writes the contents of string to the file.

In [ ]:
f.write("This is a test\n")

15

In [ ]:
f.close()

*Warning:* For the file to be actually written and being able to be opened and modified again without mistakes, it is primordial to close the file handle with `f.close()`


`f.read()` will read an entire file and put the pointer at the end.

In [ ]:
f = open('test.txt', 'r')
f.read()

'This is a test\n'

In [ ]:
f.read()

''

The end of the file has be reached so the command returns ''.

To get to the top, use  `f.seek(offset, from_what)`. The position is computed from adding `offset` to a reference point; the reference point is selected by the `from_what` argument. A `from_what` value of 0 measures from the beginning of the file, 1 uses the current file position, and 2 uses the end of the file as the reference point. from_what can be omitted and defaults to 0, using the beginning of the file as the reference point. Thus `f.seek(0)` goes to the top.

In [ ]:
f.seek(0)

0

`f.readline()` reads a single line from the file; a newline character (\n) is left at the end of the string

In [ ]:
f.readline()

'This is a test\n'

In [ ]:
f.readline()

''

For reading lines from a file, you can loop over the file object. This is memory efficient, fast, and leads to simple code:

In [ ]:
f.seek(0)
for line in f:
    print(line)

f.close()

This is a test

---